/* JavaFX CSS Style with -fx- prefix */

.jfx-button{
    -fx-background-radius:50px;
    -fx-background-color: #3a944a;
    -jfx-button-type: RAISED;
}

.jfx-button:hover{
    -fx-background-color:#57a465;
}

.jfx-menu-button{
    -fx-background-color:#4d4d4d99;
    -fx-background-radius:7px;
}

.jfx-menu-button:hover{
    -fx-background-color:#666666;
}

.menu-button {
    -fx-background-color:#1e1e1e;
    -fx-text-fill:#fcfcfc;
    -fx-border-radius:0px;
    -fx-background-radius:0;
}

.def-button{
    -fx-background-color:#333333;
    -fx-text-fill:#fcfcfc;
    -fx-border-radius:0px;
    -fx-background-radius:0;
}

.menu-button:hover{
    -fx-background-color:#404040;
}

.def-button:hover{
    -fx-background-color:#4d4d4d;
}

.toggle-button{
    -fx-background-color:transparent;
    -fx-background-radius:0;
}

.toggle-button:hover{
    -fx-background-color:#48484b;
}

.toggle-button:selected{
    -fx-background-color:#5e5e62;
}

.scroll-pane, .scroll-pane:focused, .scroll-pane .viewport{
    -fx-background-color:Transparent;
}

.scroll-bar .increment-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-button, .scroll-bar .decrement-arrow{
    -fx-background-color:Transparent;
    -fx-padding:0px;
}

.scroll-bar .track{
    -fx-background-color:transparent;
    -fx-background-radius:50px;
}

.scroll-bar .thumb{
    -fx-background-color:#D1D1D1;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-background-radius:50px;
}

.scroll-bar{
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-background-radius:50px;
    -fx-background-color:transparent;
}

.check-box .box{
    -fx-background-color:#272b33;
}

.check-box:selected .box .mark{
    -fx-background-color:Gray;
}

.context-menu{
    -fx-background-color:#131519;
    -fx-background-radius:7px;
    -fx-border-color:#333333;
    -fx-border-radius:7px;
}

.context-menu .menu-item{
    -fx-background-color:Transparent;
    -fx-background-radius:3px;
}

.context-menu .menu-item:hover{
    -fx-background-color:#1b1e24;
}

.context-menu .menu-item .label{
    -fx-text-fill:#cccccc;
}

.text-input, .text-area .content, .text-area, .text-area .scroll-pane{
    -fx-background-color:#333333;
    -fx-text-fill:#fcfcfc;
    -fx-border-size:0px;
    -fx-background-radius:0;
    -fx-highlight-fill:linear-gradient(to right bottom,#3a944a,#57a465);
}

.separator .line, .table-view .column-resize-line{
    -fx-background-color:#666666;
    -fx-border-color: transparent;
    -fx-pref-width:1;
    -fx-pref-height:1;
}

.toggle-switch .label{
    -fx-text-fill:white;
}

.toggle-switch .thumb-area{
    -fx-background-color:#515155;
}

.toggle-switch .thumb{
    -fx-background-color:#D1D1D1;
}

.toggle-switch:hover .thumb-area{
    -fx-background-color:#606063;
}

.toggle-switch:hover .thumb, .toggle-switch:selected .thumb{
    -fx-background-color:#fffffe;
}

.toggle-switch:selected .thumb-area{
    -fx-background-color:linear-gradient(to right,#3a944a,#57a465);
}

.modern-input-box, .combo-box-base, .combo-box-base .list-cell{
    -fx-background-color:#333337;
    -fx-background-radius:15px;
}

.combo-box-base .arrow-button .arrow{
    -fx-background-color:#e6e6e6;
}

.modern-text-input{
    -fx-background-color:transparent;
    -fx-text-fill:white;
}

.list-view, .list-view:focused{
    -fx-background-color:#333337;
    -fx-background-radius:15px;
}

.list-cell{
    -fx-background-color:Transparent;
    -fx-text-fill:#f6f6f6;
    -fx-font-size:12px;
    -fx-background-radius:15px;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover,
.table-row-cell:selected, .table-row-cell:selected .table-cell{
    -fx-background-color:#424246;
    -fx-text-fill:White;
}

.list-cell:filled:hover, .table-row-cell:filled:hover, .combo-box-base .list-cell:filled:hover{
    -fx-background-color:#3d3d40;
}

.progress-bar .track{
    -fx-background-color:#333337;
}

.tooltip{
    -fx-background-color:white;
    -fx-text-fill:black;
}

.table-view, .table-view .column-overlay, .table-view .column-header-background,
.table-view:focused, .table-view:focused .column-overlay, .table-view:focused .column-header-background{
    -fx-background-color:#222226;
    -fx-control-inner-background:#222226;
    -fx-border-color:transparent;
    -fx-border-width:0;
}

.table-view .column-header{
    -fx-background-color:#333337;
    -fx-border-width:0 0 1 0;
    -fx-border-color: transparent transparent #666666 transparent;
}

.table-view .column-header .label{
    -fx-text-fill:white;
}

.table-row-cell{
    -fx-background-color:transparent;
}

.table-row-cell:filled{
    -fx-background-color: #333337;
    -fx-border-color: transparent transparent #3d3d40 transparent;
    -fx-border-width: 0 0 1 0;
}

.table-cell{
    -fx-text-fill: #f6f6f6;
    -fx-border-color: transparent;
}